.category-container {
    display: flex;
    color: red;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.category-map {
    width: 100%;
    height: 60vh;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-image-container {
    height: 80vh;
}

.category-text-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-text-container h1 {
    font-weight: bold;
    font-size: large;
}

.category-text-container button {
    text-transform: uppercase;
    background-color: red;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

@media (min-width: 640px) {
    .category-map {
      width: 50%;
    }
}

@media (min-width: 1024px) {
    .category-map {
      width: 33.333333%;
    }
  }