.order-container {
    padding: 1rem;
}

.order-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0.5rem;
}

.order-heading {
    text-align: left;
}

.order-heading-hide{
    display: none;
}

.order-table td {
    font-size: small;
    padding-top: 0.25rem;
    padding-bottom: 1.5rem;
}

.order-container tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.order-container tbody tr:nth-child(1) {
    background-color: rgb(236, 192, 192);
}

@media (min-width: 768px) {
    .order-heading-hide{
        display: block;
    }
    .order-table td {
        font-size: medium;
    }
}

@media (min-width: 1024px) {
    .order-container {
        padding: 3rem;
    }
}

@media (min-width: 1280px) {
    .order-container {
        padding: 5rem;
    }
}